.RoleSelectorContainer{
    text-align: left;
    display: grid;
    gap: 1rem 1rem;
    flex: 1;
    grid-template-columns: repeat(3,1fr);
}
.roleBox{
    flex: 1;
    min-height: 10rem;
    min-width: 10rem;
    background-color: rgba(92, 91, 91, 0.4);
    border-radius: 1%;
    border: solid 3px transparent;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    
}
.
.roleBox:hover{
    border: solid 0.2rem rgb(240, 111, 111);
    filter: brightness(150%);
}
.infoHolder{
    text-align: left;
    margin-top: 3rem;
    padding: 2rem;
    background-color: rgba(92, 91, 91, 0.1);
}
.roleBoxChecked{
    flex: 1;
    min-height: 10rem;
    min-width: 10rem;
    background-color: rgba(92, 91, 91, 0.4);
    border-radius: 1%;
    border: solid 0.2rem rgb(190, 190, 190);
    justify-items: center;
    filter: brightness(150%);
    align-items: center;
    padding: 2rem;
}
.heading{
text-align: left;
}