.RoleSelectorContainer{
    display: grid;
    gap: 0.7rem;
    grid-template-columns: repeat(3,1fr);
}

.role-box {
    background-color: rgba(91, 92, 91, 0.4);
    border-radius: 1%;
    border: solid 3px transparent;
    padding: 0.4rem;
}
.role-box.neutral:hover{
    border: solid 3px rgb(242, 255, 66);
    filter: brightness(150%);
}
.role-box.good:hover{
    border: solid 3px rgb(66, 255, 75);
    filter: brightness(150%);
}
.role-box.evil:hover{
    border: solid 3px rgb(255, 66, 66);
    filter: brightness(150%);
}

.role-box-checked.good {
    border: solid 3px rgb(17, 116, 0);
    filter: brightness(150%);
}

.role-box-checked.evil {
    border: solid 3px rgb(151, 2, 2);
    filter: brightness(150%);
}

.role-box-checked.neutral {
    border: solid 3px rgb(119, 128, 0);
    filter: brightness(150%);
}

.role-box-image {
    max-width: 60%;
    max-height: 60%;
}

.infoHolder{
    text-align: left;
    margin-top: 1rem;
    background-color: rgba(92, 91, 91, 0.1);
}

.heading{
    text-align: left;
    margin-top: 0;
}
.LinearHolder{
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}
.BalanceMeterContainer{
    z-index: 50;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 0%;
    width: 50%;
    height: 10%;
    border-radius: 0%;
}