.home-page-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url('../assets/images/home-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-page-buttons-div {
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 20vw;
    text-align: center;
}