.SelectingTeamMain{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
.NmrPlayers{
    margin-top: 0%;
}
.GridContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.host-choose-player-silhouette{
    position: relative;
    width: 33.3%;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation:fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation:fadeIn ease 2s;
}

.centeredPlayerNameChosen{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.centeredPlayerNameChosen h5 {
    margin: 0;
    font-size: 25px;
    color: white;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}