.assassin-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url('../../../assets/images/assassin-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}