.join-game-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url('../../../assets/images/home-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    top: 0;
}

.join-game-title {
    margin-top: 14vh;
    width: 70%;
    max-width: 600px;
}

.join-game-button-position {
    margin-top: 10vh;
}

.join-game-input-field:first-of-type {
    margin-top: 30vh;
}

.join-game-input-field {
    background-color: rgba(39, 39, 39, 0.5);
    border: solid 0px black;
    border-bottom: solid 0.3rem rgb(36, 56, 143);
    color: #fff;
    text-align: center;
    height: 40px;
    width: 70%;
    font-size: 17px;
    font-weight: 550;
    border-radius: 4px;
    max-width: 300px;
}

.join-game-input-field:focus {
    outline: none;
}

.join-game-input-field::placeholder {
    color: rgb(251, 251, 251);
}

.join-game-input-field::-webkit-outer-spin-button,
.join-game-input-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.join-game-input-field[type=number] {
  -moz-appearance: textfield;
}