.join-game-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url('../../../assets/images/fantasy-path.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    top: 0;
    filter: grayscale(30%) brightness(70%);
}

.join-game-title {
    margin-top: 7vh;
}

.join-game-button-position {
    margin-top: 10vh;
}

.join-game-input-field:first-of-type {
    margin-top: 40vh;
}

.join-game-input-field {
    background-color: rgba(39, 39, 39, 0.7);
    border: solid 0.2rem rgba(255, 255, 255, 0.8);
    color: #fff;
    text-align: center;
    height: 40px;
    width: 70%;
    font-size: 17px;
    font-weight: 550;
    border-radius: 4px;
}

.join-game-input-field::placeholder {
    color: #ccc;
}